<h1>all flats</h1>
<%= link_to "Add a new flat", flats_new_path %>
<% if (@flats.length > 0) %>
  <% @flats.each do |flat| %>
    <p><%= flat.name %></p>
    <p><%= flat.address %></p>
    <p>*************</p>
  <% end %>
<% else %>
  <p>Sorry no flats available</p>


  <div id="map" style="width: 100%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    <% end %>
  <% end %>

<% end %>

